@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700');
/*----Body Structure---*/
body{
  font-family: "Open Sans", sans-serif;
}

header{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

main, aside{
  width: 100%;
  justify-content: center;
  text-align: center;
}

main{
  background-color: #e5f3f2;

}

article{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
}

.card-title{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-idea{
  text-align: left;
}

/*-----Text Styling---*/

h1, h3, h4{
  color: #6D6E71;
  font-size: 28px;
  margin-bottom: 10px;
}

h3, h4{
  display: inline-block;
  font-size: 16px;
}

h3{
  margin-left: 25px;
}

h4{
  padding-left: 4px;
}

hr{
  width: 80%;
}

.entry-title, .entry-body{
  margin-left: 15px;
  text-align: left;
  display: inline-block;
  

}

.entry-title{
  font-size: 24px;
}

.entry-body{
  color: #939598;
  width: 90%;
  font-size: 16px;
}

/*-----Interactivity Styling----*/

input[type="text"], input[type="textarea"]{
  border-color: #939598;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 8px;
  width: 80%;
  font-size: 18px;
  padding-left: 3px;
}

input[type="text"]{
  height: 25px;
}

input[type="textarea"]{
  margin-bottom: 0px;
  margin-top: 7px;
  height: 70px;
}

button{
  color: #ffffff;
  border-style: none;
  border-radius: 50px;
  border-width: 0px;
  outline: none;
}

#ideabox{
  color: #00a79d;
}

#submit{
  margin-left: auto;
  margin-right: auto;
  width: 82%;
  height: 30px;
  display: block;
  background-color: #00a79d;
  margin-top: 15px;
  margin-bottom: 18px;
  border-radius: 0px;
}
#submit:hover{
  background-color: #045e55;
}

#submit:disabled{
  background-color: #5e8480;
}

#search{
  margin-top: 18px;
  height: 25px;
  margin-bottom: 18px;
}

.clear, .upvote, .downvote {
  background-color: none;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.clear{
  display:inline;
  position: relative;
  float: right;
  margin-top: 18px;
  margin-right: 15px;
  background-image: url("images/delete.svg")
}
.clear:hover{
  background-image: url("images/delete-hover.svg")
}

.upvote{
  margin-left: 15px;
  background-image: url("images/upvote.svg")
}

.upvote:hover{
  background-image: url("images/upvote-hover.svg")
}

.downvote{
  margin-left: 10px;
  background-image: url("images/downvote.svg")
}

.downvote:hover{
  background-image: url("images/downvote-hover.svg")
}


/*----Media Queries ----*/
@media screen and (min-width: 600px)
{

}
