@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700');

body {
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

main, aside {
  justify-content: center;
  text-align: center;
  width: 100%;
}

main {
  background-color: #FFF686;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.new-idea {
  text-align: left;
}

.importance-btns {
  margin-bottom: 20px;
}


h1, h3, h4 {
  color: #6D6E71;
  font-size: 28px;
  margin-bottom: 10px;
}

h3, h4 {
  display: inline-block;
  font-size: 16px;
}

h3 {
  margin-left: 25px;
}

h4 {
  padding-left: 4px;
}

hr {
  width: 80%;
}

.entry-title, .entry-body {
  margin-left: 15px;
  max-width: 15ch;
  text-align: left;
}

.entry-title {
  display: inline-block;
  font-size: 24px;
}

.entry-body {
  color: #939598;
  display: block;
  font-size: 16px;
  width: 90%;
}

#importance-text {
  font-size: 14px;
  font-weight: 200;
  font-family: sans-serif;
}

input[type="text"], textarea {
  border-color: #939598;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  margin-bottom: 8px;
  padding-left: 3px;
  width: 80%;
}

input[type="text"] {
  height: 25px;
}

textarea {
  margin-bottom: 0px;
  margin-top: 7px;
  height: 70px;
}

button {
  border-style: none;
  border-radius: 50px;
  border-width: 0px;
  color: #ffffff;
  outline: none;
}

.important-btn {
  background-color: #6369FF;
  border:none;
  color:#ffffff;
  margin: 10px 10px 0 0;
  display: inline-block;
  width: 62px;
}

#critical {
  margin-right: 0px;
}

.completed-btn {
float: right;
margin-top: 20px;
background-color: #6369FF;
}

.completed-btn:active,
.completed-btn:hover {
background-color: red;
}

#ideabox {
  color: #5C5FFF;
}

#show-completed,
#submit,
#listAll {
  background-color: #6369FF;
  border-radius: 0px;
  display: block;
  height: 35px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 81%;
  color: #FFFFFF;
}

#submit:hover {
  background-color: #6369FF;
}

#submit:disabled {
  background-color: #6369FF;
}

#search {
  height: 25px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.clear,
.upvote,
.downvote {
background-color: none;
background-repeat: no-repeat;
background-size: 100%;
height: 20px;
width: 20px;
}

.clear {
background-image: url("images/delete.svg");
display: inline;
float: right;
margin-top: 18px;
margin-right: 15px;
position: relative;
}

.clear:hover {
  background-image: url("images/delete-hover.svg");
}

.upvote {
  background-image: url("images/upvote.svg");
  margin-left: 15px;
}

.upvote:hover {
  background-image: url("images/upvote-hover.svg");
}

.downvote {
  background-image: url("images/downvote.svg");
  margin-left: 10px;
}

.downvote:hover {
  background-image: url("images/downvote-hover.svg");
}

.no {
background-color: #FFFFFF;
}

.yes{
  background-color: #AFAFAF ;
  display: none;
}

@media screen and (min-width: 480px) {

  aside {
    margin: 0 auto;
    width: 500px;
  }

  form {
    margin: 0 auto;
    width: 500px;
  }

  .entry-title, .entry-body {
    max-width: 25ch;
  }
}

@media screen and (min-width: 960px) {

  textarea {
    height: 25px;
  }

  aside {
    width: 700px;
    margin 0 auto;
  }

  form {
    width: 700px;
    margin: 0 auto;
  }

  hr {
    width: 100%;
  }

  div header, div article {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #search {
    width: 80%;
  }

  /* test */

  .important-btn {
    margin: 10px 30px 0 0;
  }

  .entry-title, .entry-body {
    max-width: 35ch;
  }

  .entry-title, .entry-body, .upvote {
    margin-left: 0;
  }

  .new-idea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    font-size: 42px;
    margin-bottom: 28px;
  }
}
